<footer class="primary">
  <h5>
    <a href="mailto:jerp.dev@gmail.com">Entre em contato 📨</a>
  </h5>

  <div>
    <a href="https://www.linkedin.com/in/jerp/">
      <img
        src="https://img.shields.io/badge/LinkedIn-jerp-0e76a8?style=flat&logoColor=white&logo=linkedin"
        alt="Perfil do Linkedin de José Eduardo Rodrigues Pinto"
      />
    </a>

    <a href="https://twitter.com/jerpbtu">
      <img
        src="https://img.shields.io/twitter/follow/jerpbtu?style=flat&logoColor=white&logo=Twitter"
        alt="Perfil do Twitter de José Eduardo Rodrigues Pinto"
      />
    </a>
  </div>
</footer>
