.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 20rem;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.app-content {
  min-height: calc(100vh - 14rem);
}

.app-title {
  text-transform: uppercase;
  padding-left: 2.6rem;
}

.header-toolbar {
  justify-content: space-between;
}
