<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<mat-card class="float-left margin8 list-filter">
  <form autocomplete="off" novalidate [formGroup]="listFilter">
    <div class="width50">
      <dio-input-text inputName="Pesquise aqui" controlName="text" [formGroup]="listFilter" />
    </div>

    <div class="width50">
      <dio-input-select
        inputName="Gênero"
        controlName="movieGenre"
        [formGroup]="listFilter"
        [options]="moveGenres"
      />
    </div>
  </form>
</mat-card>

<div
  class="home-content"
  infiniteScroll
  (scrolled)="onScroll()"
  *ngIf="movies.length else noRegistry"
>
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.movieGenre }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="movie.imageUrl || emptyPhotoUrl" alt="">

    <mat-card-content>
      <p class="break-line max-3-lines">
        {{ movie.description || 'Nenhuma descrição informada' }}
      </p>
    </mat-card-content>

    <mat-card-actions class="mt-auto margin-horizontal-8">
      <button color="accent" (click)="open(movie.id)" mat-raised-button>Abrir</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noRegistry>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
