<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>

<div class="main-div">
  <mat-card class="center width50">
    <form
      [formGroup]="registration"
      (ngSubmit)="savedForm()"
      (ngReset)="resetForm()"
      autocomplete="off"
      novalidate
    >
      <mat-card-content>
        <dio-input-text inputName="Título" controlName="title" [formGroup]="registration" />
        <dio-input-text inputName="Link Foto" controlName="imageUrl" [formGroup]="registration" />

        <dio-input-date
          inputName="Data de Lançamento"
          controlName="releaseDate"
          [formGroup]="registration"
        />

        <dio-input-textarea inputName="Descrição" controlName="description" [formGroup]="registration" />

        <dio-input-number
          inputName="Nota IMDb"
          controlName="note"
          [formGroup]="registration"
          [step]="0.1"
        />

        <dio-input-text inputName="Link IMDb" controlName="imdbUrl" [formGroup]="registration" />

        <dio-input-select
          inputName="Gênero"
          controlName="movieGenre"
          [formGroup]="registration"
          [options]="moveGenres"
        />
      </mat-card-content>

      <mat-card-actions class="container-buttons">
        <button type="submit" color="accent" mat-raised-button>
          Salvar
        </button>

        <button type="reset" color="warn" mat-raised-button>
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
