<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>

<div class="main-div">
  <mat-card class="center width50">
    <form [formGroup]="registration" (ngSubmit)="savedForm()" (ngReset)="resetForm()">
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Título" name="title" formControlName="title" />
          <mat-error *ngIf="hasRequired('title')">Campo obrigatório</mat-error>
          <mat-error *ngIf="hasMin('title')">Campo deve ter no mínimo 3 caracteres</mat-error>
          <mat-error *ngIf="hasMax('title')">Campo pode ter no máximo 256 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Link Foto</mat-label>
          <input matInput placeholder="Link Foto" name="imageUrl" formControlName="imageUrl" />
          <mat-error *ngIf="hasMin('imageUrl')">Campo deve ter no mínimo 10 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Data de Lançamento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Data de Lançamento"
            name="releaseDate"
            formControlName="releaseDate"
            readonly
            (click)="picker.open()"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="hasRequired('releaseDate')">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descrição</mat-label>
          <textarea
            matInput
            placeholder="Descrição"
            name="description"
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nota IMDb</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="10"
            step="0.5"
            placeholder="Nota IMDb"
            name="note"
            formControlName="note"
          />
          <mat-error *ngIf="hasRequired('note')">Campo obrigatório</mat-error>
          <mat-error *ngIf="hasMin('note')">A nota deve ser no mínimo 0</mat-error>
          <mat-error *ngIf="hasMax('note')">A nota deve ser no máximo 10</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Link IMDb</mat-label>
          <input matInput placeholder="Link IMDb" name="imdbUrl" formControlName="imdbUrl" />
          <mat-error *ngIf="hasMin('imdbUrl')">Campo deve ter no mínimo 10 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Gênero</mat-label>
          <mat-select placeholder="Gênero" formControlName="movieGenre">
            <mat-option value="Ação">Açao</mat-option>
            <mat-option value="Aventura">Aventura</mat-option>
            <mat-option value="Ficção Científica">Ficção Científica</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="Terror">Terror</mat-option>
          </mat-select>
          <mat-error *ngIf="hasRequired('movieGenre')">Campo obrigatório</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="container-buttons">
        <button type="submit" color="accent" mat-raised-button>
          Salvar
        </button>

        <button type="reset" color="warn" mat-raised-button>
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
