<div [formGroup]="formGroup">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>{{ inputName }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [placeholder]="inputName"
      [name]="controlName"
      [formControlName]="controlName"
      readonly
      (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'required')">
      Campo obrigatório
    </mat-error>
  </mat-form-field>
</div>
